<a href="https://colab.research.google.com/github/roya1988/Free-Code-Camp/blob/main/Copy_of_Demographic_Data_Analyzer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import numpy as np
import pandas as pd
from collections import Counter
#read csv seperated by ;
df = pd.read_csv('https://raw.githubusercontent.com/JakubPyt/Demographic_Data_Analyzer/main/adult.data.csv', sep=';')

In [8]:
#row access
first_date = df.loc[1]
#print('in chie',first_date)
#column access
age_column = df['race']
a=age_column.size
print('a=',a)
item_frequency = Counter(age_column)
print(item_frequency)
first_question = pd.Series(item_frequency)
#first question
print(first_question)

a= 32561
Counter({'White': 27816, 'Black': 3124, 'Asian-Pac-Islander': 1039, 'Amer-Indian-Eskimo': 311, 'Other': 271})
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
dtype: int64

https://raw.githubusercontent.com/JakubPyt/Demographic_Data_Analyzer/main/adult.data.csv
link of data

In [9]:
#second question
t=0
sum=0
sex_column = df['sex']
age_column = df['age']
for i in range(32561):
  ww=sex_column.loc[i]
  if (ww=='Male'):
    sum=sum+age_column[i]
    t=t+1
miangin=sum/32561
print('average age of men=',miangin)
    #print(ww)
  #else:
    #print('no')


  #if sex_column.loc[i] == male
   #print('yes')
#print(sex_column.loc[5])
#print(sex_column[1:9])
#mean(age(if ))

average age of men= 26.389146524983875

In [10]:
#third question
sum1=0
sum2=0
education_column = df['education']
edu_num_column = df['education-num']
for j in range(32561):
  if (education_column[j]=='Bachelors'):
    sum1=sum1+edu_num_column[j]
for row in range(32561):
  sum2=sum2+edu_num_column[row]
print('percentage of people who have a Bachelors degree=',(sum1/sum2)*100)

percentage of people who have a Bachelors degree= 21.208760742999722

In [11]:
#fourth question
#check frequency of items in salary column
salary_column = df['salary']
item_frequency2 = Counter(salary_column)
print(item_frequency2)

#count items with the conditions of the question
o1=0
for o in range(32561):
  if ((education_column[o]=='Bachelors' or education_column[o]=='Masters' or education_column[o]=='Doctorate')and salary_column[o]=='>50K'):
    o1=o1+1
    #print((education_column[o]))
    #print((salary_column[o]))

print('percentage of people with advanced education make more than 50K=',(o1/32561)*100)

Counter({'<=50K': 24720, '>50K': 7841})
percentage of people with advanced education make more than 50K= 10.706059396210192

In [12]:
#fifth question
#salary_column = df['salary']
item_frequency3 = Counter(education_column)
print(item_frequency3)
o2=0
for b in range(32561):
  if (not(education_column[b]=='Bachelors' or education_column[b]=='Masters' or education_column[b]=='Doctorate') and (salary_column[b]=='>50K')):
    o2=o2+1
    #print((education_column[o]))
    #print((salary_column[o]))

print('percentage of people without advanced education make more than 50K=',(o2/32561)*100)

Counter({'HS-grad': 10501, 'Some-college': 7291, 'Bachelors': 5355, 'Masters': 1723, 'Assoc-voc': 1382, '11th': 1175, 'Assoc-acdm': 1067, '10th': 933, '7th-8th': 646, 'Prof-school': 576, '9th': 514, '12th': 433, 'Doctorate': 413, '5th-6th': 333, '1st-4th': 168, 'Preschool': 51})
percentage of people without advanced education make more than 50K= 13.374896348392248

In [13]:
#sixth question
hpw_column = df['hours-per-week']
min_value = hpw_column.min()
print(f"The minimum value in the Series is: {min_value}")

The minimum value in the Series is: 1

In [14]:
#seventh question
u1=0
for y1 in range(32561):
  if ((hpw_column[y1]==1) and (salary_column[y1]=='>50K')):
    u1=u1+1
print('percentage of the people who work the minimum number of hours per week have a salary of more than 50K=',(u1/32561)*100)

percentage of the people who work the minimum number of hours per week have a salary of more than 50K= 0.006142317496391388

In [15]:
#eighth question
my_dict={}
s=0
country_column=df['native-country']
salary_column=df['salary']
fnlwgt_column=df['fnlwgt']
for u in range(32561):
  if (salary_column[u]=='>50K'):

    x=(country_column[u])

    s=(fnlwgt_column[u])

    if u==0:
      my_dict={x:s}

    if u!=0:
       if x  in my_dict:

          s=s+my_dict[x]
          my_dict.update({x: s})
       else:
        my_dict.setdefault(x, s)


print(my_dict)

{'United-States': 1344089159, 'India': 6581701, '?': 27324559, 'South': 2570260, 'Honduras': 51835, 'Canada': 7881279, 'Iran': 3231084, 'Mexico': 9979761, 'Cambodia': 1663739, 'Thailand': 599352, 'Taiwan': 3867091, 'Portugal': 427993, 'England': 5286201, 'China': 3765694, 'Philippines': 10868321, 'Jamaica': 2117079, 'Germany': 8735522, 'Japan': 4018409, 'Italy': 4634584, 'Dominican-Republic': 440452, 'Cuba': 6324242, 'Greece': 975633, 'Peru': 629125, 'Guatemala': 743477, 'El-Salvador': 1346585, 'France': 2069999, 'Vietnam': 708242, 'Poland': 2151770, 'Puerto-Rico': 2656840, 'Ireland': 678159, 'Yugoslavia': 1182355, 'Columbia': 566821, 'Haiti': 827330, 'Hong': 1766873, 'Ecuador': 677715, 'Nicaragua': 799907, 'Trinadad&Tobago': 324192, 'Hungary': 516412, 'Scotland': 624920, 'Laos': 442533}

In [16]:
my_dict1={}
s1=0
u1=0
x1=''
country_column=df['native-country']
#salary_column=df['salary']
fnlwgt_column=df['fnlwgt']
for u1 in range(32561):
  #if (salary_column[u]=='>50K'):

    x1=(country_column[u1])

    s1=(fnlwgt_column[u1])

    if u1==0:
      my_dict1={x1:s1}

    if u1!=0:
       if x1  in my_dict1:

          s1=s1+my_dict1[x1]
          my_dict1.update({x1: s1})
       else:
        my_dict1.setdefault(x1, s1)


print(my_dict1)
for key,value in my_dict.items():
  s2=value
  x2=key
  s1=my_dict1[x2]
  s2=my_dict[x2]
  my_dict.update({x: (s/s1)*100})
  #print(s2)
  #print(s1)
print(my_dict)
max_value = max(my_dict.values())
print(f"The maximum value in the dictionary is: {max_value}")
for key, value in my_dict.items():
        if value == max_value:
          print('country has the highest percentage of people that earn >50K is:',key)
          print('that percentage is:',value)

{'United-States': 5456803347, 'Cuba': 23397678, 'Jamaica': 17184574, 'India': 16853909, '?': 112694423, 'Mexico': 186293012, 'South': 13078543, 'Puerto-Rico': 23089073, 'Honduras': 3322687, 'England': 16413765, 'Canada': 21762205, 'Germany': 25937568, 'Iran': 7835090, 'Philippines': 32890793, 'Italy': 13263034, 'Poland': 11034241, 'Columbia': 13283815, 'Cambodia': 3668527, 'Thailand': 3315000, 'Ecuador': 5204047, 'Laos': 3799944, 'Taiwan': 9508511, 'Haiti': 9196855, 'Portugal': 5499002, 'Dominican-Republic': 13446269, 'El-Salvador': 26965655, 'France': 5569476, 'Guatemala': 16970454, 'China': 13428599, 'Japan': 11513625, 'Yugoslavia': 3455423, 'Peru': 8511340, 'Outlying-US(Guam-USVI-etc)': 2862829, 'Scotland': 2027353, 'Trinadad&Tobago': 4043434, 'Greece': 4160520, 'Nicaragua': 10015520, 'Vietnam': 10940023, 'Hong': 4447055, 'Ireland': 3311942, 'Hungary': 2346350, 'Holand-Netherlands': 27882}
{'United-States': 35371.28860320047, 'India': 6581701, '?': 27324559, 'South': 2570260, 'Honduras': 51835, 'Canada': 7881279, 'Iran': 3231084, 'Mexico': 9979761, 'Cambodia': 1663739, 'Thailand': 599352, 'Taiwan': 3867091, 'Portugal': 427993, 'England': 5286201, 'China': 3765694, 'Philippines': 10868321, 'Jamaica': 2117079, 'Germany': 8735522, 'Japan': 4018409, 'Italy': 4634584, 'Dominican-Republic': 440452, 'Cuba': 6324242, 'Greece': 975633, 'Peru': 629125, 'Guatemala': 743477, 'El-Salvador': 1346585, 'France': 2069999, 'Vietnam': 708242, 'Poland': 2151770, 'Puerto-Rico': 2656840, 'Ireland': 678159, 'Yugoslavia': 1182355, 'Columbia': 566821, 'Haiti': 827330, 'Hong': 1766873, 'Ecuador': 677715, 'Nicaragua': 799907, 'Trinadad&Tobago': 324192, 'Hungary': 516412, 'Scotland': 624920, 'Laos': 442533}
The maximum value in the dictionary is: 27324559
country has the highest percentage of people that earn >50K is: ?
that percentage is: 27324559

In [17]:
#nineth question
country_column=df['native-country']
salary_column=df['salary']
job_column=df['occupation']
num_column=df['fnlwgt']
my_popular_dict={}
for i9 in range(32561):
  if (country_column[i9]=='India')and(salary_column[i9]=='>50K'):
    x9=job_column[i9]
    v9=num_column[i9]
    if i9==0:
      #x9=job_column[i9]
      #v9=num_column[i9]
      my_popular_dict={x9:v9}
    else:
      if x9 in my_popular_dict:
          v9=v9+my_popular_dict[x9]
          my_popular_dict.update({x9: v9})
      else:
        my_popular_dict.setdefault(x9, v9)
print(my_popular_dict)
#...............................................................................
max_value_my_popular = max(my_popular_dict.values())
#print(f"The maximum value in the dictionary is: {max_value_my_popular}")
for key, value in my_popular_dict.items():
        if value == max_value_my_popular:
          #print('country has the highest percentage of people that earn >50K is:',key)
          print('the most popular occupation for those who earn >50K in India is:',key)

{'Prof-specialty': 3745555, 'Exec-managerial': 1536740, 'Other-service': 311384, 'Tech-support': 305635, 'Transport-moving': 341672, 'Sales': 229737, 'Adm-clerical': 110978}
the most popular occupation for those who earn >50K in India is: Prof-specialty